<ul>
  <li>
    <span>1</span>
    <%= link_to 'http://www.gw2db.com/recipes/7133-berserkers-draconic-helm', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/730/56/56/61565.png' %> Berserker's Draconic Helm
    <% end %>
    <ul>
      <li>
        <span>1</span>
        <%= link_to 'http://www.gw2db.com/items/57247-berserkers-intricate-gossamer-insignia-s', class: 'exotic' do %>
          <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/118/969/36/36/434358.png' %> Berserker's Intricate Gossamer Insignia[s]
        <% end %>
        <ul>
          <li>
            <span>5</span>
            <%= link_to 'http://www.gw2db.com/items/3834-bolt-s-of-gossamer', class: 'common' do %>
              <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/988/36/36/63577.png' %> Bolt[s] of Gossamer
            <% end %>
            <ul>
              <li>
                <span>2</span>
                <%= link_to 'http://www.gw2db.com/items/3833-gossamer-scrap-s', class: 'common' do %>
                  <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/117/962/36/36/340417.png' %> Gossamer Scrap[s]
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <span>20</span>
            <%= link_to 'http://www.gw2db.com/items/24546-spool-s-of-gossamer-thread', class: 'common' do %>
              <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/986/36/36/65959.png' %> Spool[s] of Gossamer Thread
            <% end %>
          </li>
          <li>
            <span>5</span>
            <%= link_to 'http://www.gw2db.com/items/19736-vial-s-of-powerful-blood', class: 'fine' do %>
              <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/114/461/36/36/66950.png' %> Vial[s] of Powerful Blood
            <% end %>
          </li>
          <li>
            <span>5</span>
            <%= link_to 'http://www.gw2db.com/items/3503-glob-s-of-ectoplasm', class: 'exotic' do %>
              <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/962/36/36/65941.png' %> Glob[s] of Ectoplasm
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <span>1</span>
        <%= link_to 'http://www.gw2db.com/items/56318-orichalcum-helmet-casing-s', class: 'common' do %>
          <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/115/379/36/36/219606.png' %> Orichalcum Helmet Casing[s]
        <% end %>
        <ul>
          <li>
            <span>1</span>
            <%= link_to 'http://www.gw2db.com/items/534-orichalcum-ingot-s', class: 'common' do %>
              <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/929/36/36/220460.png' %> Orichalcum Ingot[s]
            <% end %>
            <ul>
              <li>
                <span>2</span>
                <%= link_to 'http://www.gw2db.com/items/654-orichalcum-ore', class: 'common' do %>
                  <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/945/36/36/220461.png' %> Orichalcum Ore
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <span>1</span>
        <%= link_to 'http://www.gw2db.com/items/56317-orichalcum-helmet-lining-s', class: 'common' do %>
          <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/115/378/36/36/219605.png' %> Orichalcum Helmet Lining[s]
        <% end %>
        <ul>
          <li>
            <span>2</span>
            <%= link_to 'http://www.gw2db.com/items/3834-bolt-s-of-gossamer', class: 'common' do %>
              <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/988/36/36/63577.png' %> Bolt[s] of Gossamer
            <% end %>
            <ul>
              <li>
                <span>2</span>
                <%= link_to 'http://www.gw2db.com/items/3833-gossamer-scrap-s', class: 'common' do %>
                  <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/117/962/36/36/340417.png' %> Gossamer Scrap[s]
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <span>1</span>
            <%= link_to 'http://www.gw2db.com/items/24546-spool-s-of-gossamer-thread', class: 'common' do %>
              <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/986/36/36/65959.png' %> Gossamer Thread
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>