<ul>
  <li>
    <span class="count">1</span>
    <%= link_to 'http://www.gw2db.com/recipes/7133-berserkers-draconic-helm', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/730/56/56/61565.png' %> Berserker's Draconic Helm
    <% end %>
  </li>
  <li>
    <span class="count">1</span>
    <%= link_to 'http://www.gw2db.com/recipes/7175-berserkers-draconic-pauldrons', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/732/56/56/61567.png' %> Berserker's Draconic Pauldrons
    <% end %>
  </li>
  <li>
    <span class="count">1</span>
    <%= link_to 'http://www.gw2db.com/recipes/7049-berserkers-draconic-coat', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/728/56/56/61563.png' %> Berserker's Draconic Coat
    <% end %>
  </li>
  <li>
    <span class="count">1</span>
    <%= link_to 'http://www.gw2db.com/recipes/7091-berserkers-draconic-gauntlets', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/729/56/56/61564.png' %> Berserker's Draconic Gauntlets
    <% end %>
  </li>
  <li>
    <span class="count">1</span>
    <%= link_to 'http://www.gw2db.com/recipes/7217-berserkers-draconic-legs', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/731/56/56/61566.png' %> Berserker's Draconic Leggings
    <% end %>
  </li>
  <li>
    <span class="count">1</span>
    <%= link_to 'http://www.gw2db.com/recipes/7007-berserkers-draconic-boots', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/727/56/56/61562.png' %> Berserker's Draconic Boots
    <% end %>
  </li>
</ul>