<!DOCTYPE html>
<html>
<head>
  <title>GuildCraft</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://static-ascalon.cursecdn.com/current/js/syndication/tt.js' %>
</body>
</html>
